<app-create-content (newAgentEvent)="addAgentToList($event)"></app-create-content>

<div class="input">
    <h1>Search Valorant Agent</h1>
    <input class="textfield" #agentToFind>
    <br>
    <br>
    <button (click) = "SearchContent(agentToFind.value)" class="button">Find It!</button>
    <br>
    <br>

    <div *ngIf = "SearchContent(agentToFind.value) === 'null'"></div>
    <div *ngIf = "SearchContent(agentToFind.value) === 'no'" class="noresultfound">{{agentToFind.value}} Not Results Found!</div>
    <div *ngIf = "SearchContent(agentToFind.value) === 'yes'" class="resultsfound">{{agentToFind.value}} Found.</div>

</div>

<h2>No Type</h2>
<app-content-card *ngFor="let agent of (valorantAgents | typeFilter); index as i; first as isFirst"
    [valorantAgent]="agent" [class.is-first]="isFirst" class="notype"></app-content-card>

<h2>Sentinel</h2>
<app-content-card *ngFor="let agent of (valorantAgents | typeFilter: 'Sentinel'); index as i; first as isFirst"
[valorantAgent]="agent" [class.is-first]="isFirst" class="sentinel"></app-content-card>

<h2>Duelist</h2>
<app-content-card *ngFor="let agent of (valorantAgents | typeFilter: 'Duelist'); index as i; first as isFirst"
[valorantAgent]="agent" [class.is-first]="isFirst" class="duelist"></app-content-card>


