<app-modify-content-component (newValorantEvent)="addValorantToList($event)"(updateValorantEvent)="updateValorantToList()">
</app-modify-content-component>

<div class="input">
    <h1>Search Valorant Agent</h1>
    <input class="textfield" #agentToFind>
    <br>
    <br>
    <button (click) = "SearchContent(agentToFind.value)" class="button">Find It!</button>
    <br>
    <br>

    <span class="found" *ngIf="agentFound">{{agentToFind.value}} Found !</span>
    <span class="failed" *ngIf="agentFound === false">{{agentToFind.value}} Not Found</span> 
</div>

<h2>No Type</h2>
<app-content-card
[class.found]="agentToFind.value === agent.title"
 *ngFor="let agent of (valorantAgents | typeFilter); index as i; first as isFirst"
    [valorantAgent]="agent" [class.is-first]="isFirst" class="notype"></app-content-card>

<h2>Sentinel</h2>
<app-content-card
[class.found]="agentToFind.value === agent.title"
*ngFor="let agent of (valorantAgents | typeFilter: 'Sentinel'); index as i; first as isFirst"
[valorantAgent]="agent" [class.is-first]="isFirst" class="sentinel"></app-content-card>

<h2>Duelist</h2>
<app-content-card 
[class.found]="agentToFind.value === agent.title"
*ngFor="let agent of (valorantAgents | typeFilter: 'Duelist'); index as i; first as isFirst"
[valorantAgent]="agent" [class.is-first]="isFirst" class="duelist"></app-content-card>


