<!-- <div>
    <label>
        ID: <input matInput [(ngModel)]="tempid" type="number">
    </label>
</div>

<div>
    <label>
        Title: <input matInput [(ngModel)]="newAgent.title">
    </label>
</div>

<div>
    <label>
        Description:  <input matInput [(ngModel)]="newAgent.description">
    </label>
</div>

<div>
    <label>
        Abilities: <input matInput [(ngModel)]="newAgent.abilities">
    </label>
</div>

<div>
    <label>
        Image: <input matInput [(ngModel)]="newAgent.imgURL">
    </label>
</div>

<div>
    <label>
        Type: <input [(ngModel)]="newAgent.type">
    </label>
</div>

<div>
    <label>
        Tags: <input matInput [(ngModel)]="temptags">
    </label>
</div>

<div>
    <button (click)="modifyOrAddItemToParent()">
        {{(tempid !== "") ? "Update Content": "Add Content"}}
    </button>
</div> -->

<button mat-raised-button color="accent" (click)="openDialog()">
    {{buttonText}}
</button>